.negotiate {
  height: 130vh;
  padding-top: 80px;
}

.negotiate-center {
  margin-top: 80px;
  display: flex;
  align-items: center;
  padding: 20px;
}

/* negotiate left */
.negotiate-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.negotiate-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* negotiate right */
.negotiate-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  flex-direction: column;
}

.negotiate-right h1 {
  text-align: left;
  align-self: flex-start;
  color: var(--primary-color);
}

.negotiate-right ol li {
  line-height: 50px;
  font-size: var(--font-med);
  font-weight: 600;
}

/* THE RESPONSIVENESS */
@media (min-width: 1240px) {
  .negotiate-center {
    margin-top: 120px;
  }
}

@media (max-width: 800px) {
  negotiate-left {
    width: 40%;
  }

  .negotiate-right {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .negotiate-center {
    flex-direction: column;
    margin-top: 30px;
  }

  .negotiate-left {
    width: 100%;
  }

  .negotiate-right {
    width: 100%;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .negotiate-right ol li {
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  .negotiate-center {
    padding: 10px;
  }

  .negotiate-right h1 {
    font-size: var(--font-bigger);
  }
}
