.heading {
  color: var(--secondary-color);
  font-size: var(--font-bigger);
  width: 30%;
  text-align: center;
  margin: 0 auto;
  line-height: 35px;
  z-index: 99999;
  padding: 0 10px;
}

@media (max-width: 1000px) {
  .heading {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .heading {
    width: 90%;
    font-size: var(--font-big);
  }
}
@media (max-width: 350px) {
  .heading {
    width: 100%;
  }
}
