.button {
  background: var(--secondary-color);
  padding: 10px 20px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white-color);
  font-weight: 600;
  transition: var(--transition);
  font-family: "Nunito Sans";
  font-weight: 600;
  border-radius: 5px;
}

.button:hover {
  background: var(--primary-color);
}

@media (max-width: 500px) {
  .button {
    font-size: var(--font-mid);
  }
}
