.button {
  background: var(--primary);
  padding: 10px 20px;
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white-color);
  font-weight: 600;
  transition: var(--transition);
}

.button:hover {
  background: var(--primary-color);
}
