.how-it-works {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.how-it-works-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-box {
  background: var(--secondary-color);
  height: 500px;
  width: 70%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}

.left-box img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

/* right section */
.how-it-works-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
