.faqs {
  /* text-align: center; */
  padding: 120px 10px;
}

.faqs-div {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.faqs-left {
  width: 50%;
  border-right: 1px solid var(--hero);
  padding: 0 70px;
}
.faqs-left h1 {
  margin-bottom: 20px;
  font-size: var(--font-big);
  color: var(--primary-color);
}

.faqs-right {
  width: 50%;
  padding: 0 70px;
}

.faqs-right h1 {
  margin-bottom: 20px;
  font-size: var(--font-big);
  color: var(--primary-color);
}
