.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: transparent;
  transition: var(--transition);
  /* background: var(--secondary-color); */
}

.active-nav {
  background: var(--primary-color);
  transition: var(--transition);
}

.nav-brand img {
  height: 100%;
  width: 130px;
}

/* =========THE RESPONSIVENESS========= */
@media (max-width: 500px) {
  .nav {
    padding: 20px 10px;
  }

  .nav-brand img {
    width: 90px;
    margin-top: -15px;
  }
}
