.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: transparent;
}

.active-nav {
  background: conic-gradient(
    from 268.99deg at 101.79% 103.94%,
    #000000 0deg,
    rgba(0, 0, 0, 0.989583) 0.04deg,
    rgba(6, 45, 15, 0.677896) 63.75deg,
    rgba(11, 85, 28, 0.402723) 120deg,
    rgba(0, 0, 0, 0.674834) 180deg,
    rgba(0, 0, 0, 0) 240deg,
    rgba(6, 45, 15, 0.677896) 299.96deg,
    rgba(23, 179, 57, 0.402723) 300deg,
    rgba(64, 128, 78, 0.674834) 360deg
  );
}

.nav-brand img {
  height: 100%;
  width: 130px;
}

/* =========THE RESPONSIVENESS========= */
@media (max-width: 500px) {
  .nav {
    padding: 20px 10px;
  }

  .nav-brand img {
    width: 90px;
    margin-top: -15px;
  }
}
